{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{%block title%} {% endblock%}</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"  >
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href={% static "css/style.css"%} />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

   {{ form.media }}

   {% block additional_links_scripts_top %} {% endblock %}


</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark navbar-right">
        <a class="navbar-brand" id="shall_we_meet_logo" href="{% url "homepage" %}">
            SHALL WE MEET?
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav ml-auto"  >
                {% if request.user.is_authenticated %}
                <a class="nav-item nav-link"  href="{% url "create_event" %}">Create new meeting</a>
                <a class="nav-item nav-link" href="{% url "homepage" %}">Manage meetings</a>
                <div class="nav-item dropdown navbar-dark navbar-nav navbar-brand:hover">
                    <a class="btn btn-info nav-link dropdown-toggle nav_button" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
                        <a class="dropdown-item"  href="{% url "account_settings" %}">Account settings</a>
                        <a class="dropdown-item" href="{% url "logout" %}">Log out</a>
                    </div>
                {% elif not request.user.is_authenticated %}
                    <a class="btn btn-info nav_button" href="{% url "signup" %}">Create account </a>
                    <a class="btn btn-info nav_button" href="{% url "login" %}">Log in </a>
                 {% endif %}
            </ul>
      </div>
    </nav>



<div class="d-flex">
    <div class="container-fluid col-md-3"></div>
    <div class="container-fluid col-md-8">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid col-md-1"></div>
</div>
        {% block content %} {% endblock %}

</body>

   {% block additional_links_scripts_bottom %} {% endblock %}

<!-- TODO:  musi być jakoś łądnie zrobione -->
<!-- <footer> -->
<!-- Icons made by <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
<!-- </footer> -->

</html>