{% extends 'homepage.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block additional_links_scripts_top %}
    <!-- Leaf css :) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <!-- Leaf js -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
   <!-- Marker cluster -->
    <link rel="stylesheet" href="/static/css/MarkerCluster.css"/>
    <link rel="stylesheet" href="/static/css/MarkerCluster.Default.css"/>
    <script src="/static/js/leaflet.markercluster.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
            integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
            crossorigin=""></script>
    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
          integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
          crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
            integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
            crossorigin=""></script>
{% endblock %}

{% block mytitle %} <h1>Step 2 - Choose meeting location</h1> {% endblock %}

{% block event %}
    <div class="container-fluid col-md-12">
        <h2>Below you see the area where all your guests and you reside.</br>
            It might help with choosing the most suitable place to meet for all.
        </h2></br>
        <form method="post">
            {% csrf_token %}
            <p class="message-box">1) Use magnifying glass icon on the left side of map to search for ideal meeting
                spot</br>2) Click exact point on the map</p>
            <div id="mapid"></div>
            </br>
            {{ form|crispy }}
            <button type="submit" class="btn btn-info myButton">Next step</button>
        </form>
    </div>
{% endblock %}

{% block icon %}
    <div class="container-fluid col-md-2">
        <img src="{% static "img/profile.png" %}" alt="Profile_icon" class="img-fluid">
    </div>
{% endblock %}

{% block additional_links_scripts_bottom %}
    {% include 'maps_choose_location_tmp.html' %}
{% endblock %}