{% extends 'homepage.html' %}
{% load crispy_forms_tags %}

{% block event %}

    <div class="container-fluid col-md-5">

        <h1>Step 2 - Edit time slots</h1>

        <h2>Click on timeslot to edit or go back to event by clicking "Done"</h2>

        <ul>
            {% for timeslot in timeslots %}
                <li><a href="{% url "edit_one_timeslot" timeslot.pk %}">{{ timeslot.date_time_from }}
                    - {{ timeslot.date_time_to }}</a></li>
                {% empty %}
                <p>No time slots here.</p>
            {% endfor %}
        </ul>

        <a type="button" class="btn btn-info myButton" href="{% url "event_view" event.pk %}">Edition done</a>


    </div>

{% endblock %}

