{% extends 'homepage.html' %}
{% load crispy_forms_tags %}


{% block mytitle %} <h1>Step 2 - Edit time slots</h1> {% endblock %}

{% block event %}

    <h2>Click on timeslot to edit or go back to event by clicking "Edition done"</h2></br></br>

      <ul class="list-group>">
        {% for timeslot in timeslots %}
            <a href="{% url "edit_one_timeslot" timeslot.pk %}" class="list-group-item">{{ timeslot.date_time_from }}
                - {{ timeslot.date_time_to }}</a>
            {% empty %}
            <p>No time slots here.</p>
        {% endfor %}
    </ul>
    <a type="button" class="btn btn-info myButton" href="{% url "event_view" event.pk %}">Edition done</a>


{% endblock %}

