{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="d-flex">


        <div class="list-group list-group-flush col-md-3">
               <li class="list-group-item  ">Navigation</li>
            <a href="{% url 'homepage' %}"
               class="list-group-item list-group-item-dark list-group-item-action ">Homepage</a>
             <a href="{% url 'password_change' %}"
               class="list-group-item list-group-item-dark list-group-item-action ">Change password</a>
            <a href="{% url 'delete_account' %}"
               class="list-group-item list-group-item-dark list-group-item-action">Delete your account</a>
        </div>


        <div class="container-fluid col-md-5">
            <h1>Edit your personal information</h1>

            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-info myButton">Submit</button>
            </form>
        </div>
        <div class="container-fluid col-md-2"></div>
    </div>
{% endblock %}