{% extends "base.html" %}
{% load static %}
{% block content %}

    {% if not request.user.is_authenticated %}
        <div class="d-flex align-items-center">
            <div class="container col-md-2">
                <img src="{% static "img/garland.png" %}" alt="garland_icon" width=70% class="img-fluid float-left">
                <img src="{% static "img/hot-tea.png" %}" alt="hot-tea_icon" width=70% class="img-fluid float-left">
            </div>
            <div class="container col-md-6 ">
                <h1><i><b>Shall we meet?</b></i> is a web application that helps to finally figure out perfect
                    time and place for
                    all friends to meet. </h1>
                <p>Create account right now, so that you can easily create meetings for groups of friends. </br>App will
                    help you all to figure out most convinient time, date and location!</p>
            </div>
            <div class="container col-md-2">
                <img src="{% static "img/curtain.png" %}" alt="curtain_icon" width=70% class="img-fluid float-right">
                <img src="{% static "img/balloon.png" %}" alt="balloon_icon" width=70% class="img-fluid float-right">
            </div>
        </div>
    {% else %}
        <!-- Page wrapper -->
        <div class="d-flex">
        <!-- Sidebar -->
        <div class="list-group " id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <li class="list-group-item  ">Meetings organized by me</li>
                <a href="{% url "organizer_in_progress" %}"
                   class="list-group-item list-group-item-dark list-group-item-action ">In progress
                    {% if owner_pending_actions %}
                        <span class="badge badge-dark badge-pill">Pending actions: {{ owner_pending_actions.count }}</span>
                    {% endif %}</a>
                <a href="{% url "organizer_upcoming" %}"
                   class="list-group-item list-group-item-dark list-group-item-action">Upcoming
                    {% if owner_upcoming_events %}
                        ({{ owner_upcoming_events.count }})
                    {% endif %}
                </a>
                <a href="{% url "organizer_is_archive" %}"
                   class="list-group-item list-group-item-dark list-group-item-action">Archive</a>
                <li class="list-group-item ">Meetings I have been invited to</li>
                <a href="{% url "guest_in_progress" %}"
                   class="list-group-item list-group-item-dark list-group-item-action">In progress
                    {% if guest_pending_actions %}
                        <span class="badge badge-dark badge-pill">Pending votes: {{ guest_pending_actions }}</span>
                        </a>
                    {% endif %}
                <a href="{% url "guest_upcoming" %}"
                   class="list-group-item list-group-item-dark list-group-item-action">Upcoming
                    {% if guest_upcoming_events %}
                        ({{ guest_upcoming_events.count }})
                    {% endif %}
                </a>
                <a href="{% url "guest_is_archive" %}"
                   class="list-group-item list-group-item-dark list-group-item-action">Archive
                </a>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container-fluid col-md-7">
        {% block mytitle %} <h1>All my meetings:</h1> {% endblock %}

        {% block event %}
        {% if events_upcoming or events_in_progress %}
            <div class="container-fluid col-md-12"><img src="{% static "img/juggler.png" %}"
                                                        alt="Juggler_icon"
                                                        class="img-fluid" width="30%">
            </div>

            {% if events_upcoming %}
                <ul class="list-group>">
                    <a class="list-group-item" id="meetingsHeader">
                        Upcoming meetings</a>
                    {% for event in events_upcoming %}
                        <a class="list-group-item" id="myMeetings" href="{% url "event_view" event.id %}">
                            {{ event.title }} (by: {{ event.owner }})
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if events_in_progress %}
                <ul class="list-group>">
                    <a class="list-group-item" id="meetingsHeader">
                        Meetings in draft mode (in progress) </a>
                    {% for event in events_in_progress %}
                        <a class="list-group-item" id="myMeetings" href="{% url "event_view" event.id %}">
                            {{ event.title }} (by: {{ event.owner }})
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}

        {% elif events_archive %}
               <div class="container-fluid col-md-12"><img src="{% static "img/box.png" %}"
                                                        alt="Juggler_icon"
                                                        class="img-fluid" width="30%">
            </div>
            <ul class="list-group>">
                <a class="list-group-item" id="meetingsHeader">
                    Archived</a>
                {% for event in events_archive %}
                    <a class="list-group-item" id="myMeetings" href="{% url "event_view" event.id %}">
                        {{ event.title }} (by: {{ event.owner }})
                    </a>
                {% endfor %}
            </ul>

    {% else %}
        <p class="list-group-item" id="meetingsHeader">No meetings in here.</p>
        </br> </br> </br>
        <p><img src="{% static "img/sleeping.png" %}" alt="Sleeping_icon" width="20%"
                class="img-fluid">
        </p>
    {% endif %}

{% endblock %}
</div>
{% block icon %}{% endblock %}
</div>
{% endif %}
{% endblock %}