<script>


      var mymap = L.map('mapid').setView([52.232079, 21.006311], 6);
{##}
{#    L.tileLayer('https://tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png?apikey=9f79bff8a5e4496c87bb5f2dc0faff40', {#}
{#        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://thunderforest.com/">Thunderforest</a>',#}
{#        maxZoom: 18,#}
{#    }).addTo(mymap);#}

    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
}).addTo(mymap);

    L.control.scale().addTo(mymap);

    var markersLayer = L.markerClusterGroup();

    var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();
    var geocodeService = L.esri.Geocoding.geocodeService();

    L.esri.Geocoding.geosearch({
        providers: [
            arcgisOnline,
            L.esri.Geocoding.mapServiceProvider({
                label: 'States and Counties',
                url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer',
                layers: [2, 3],
                searchFields: ['NAME', 'STATE_NAME']
            })
        ]
    }).addTo(mymap);

    mymap.addLayer(markersLayer);

    {#showing polygon on the map #}

    function show_polygon(coordinates_array) {
        var polygon = L.polygon(coordinates_array, {color: 'purple', fillOpacity: 0.1, weight: 2}).addTo(mymap);
        // zoom the map to the polygon
        mymap.fitBounds(polygon.getBounds());
    }

    var participants_coordinates = JSON.parse("{{ participants_coordinates }}");
    if (participants_coordinates) {
        show_polygon(participants_coordinates);
    }


    {#adding marker to map#}
    var marker;
    mymap.on('click',
        function (addingMarker) {
            var coordinates_lat = addingMarker.latlng["lat"];
            var coordinates_lng = addingMarker.latlng["lng"];
            document.getElementById('id_meeting_geographical_coordinates').value = `Point(${coordinates_lng}  ${coordinates_lat})`;
            geocodeService.reverse().latlng(addingMarker.latlng).run(function (error, result) {
                if (error) {
                    return;
                }
                if (marker) { // check
                    mymap.removeLayer(marker); // remove
                }
                var results = result.address.Match_addr;
                marker = new L.marker(result.latlng, {draggable: true}).addTo(mymap).bindPopup(result.address.Match_addr).openPopup();
                document.getElementById('id_meeting_address').value = results;
            });


        });


</script>