{% extends 'homepage.html' %}
{% load crispy_forms_tags %}

{% block event %}

    <div class="container-fluid col-md-5">

        <h1>Meeting details</h1>

        <p>Title: {{ object.title }}</p>
        <p>Description: {{ object.description }} </p>
        <p>Organizer: {{ object.owner }} </p>
        <p>Location: {{ object.location }} </p>
        <p>Duration: {{ object.approx_duration }} </p>
        Participants: {% for participant in object.participants.all %}
            <li>{{ participant }}</li>
        {% endfor %}


        <p>In progress? {{ object.is_in_progress }}</p>
        <p> Creation time: {{ object.creation_time }}</p>
        <p>Update time: {{ object.update_time }}</p>

        Proposed time slots:
        {% for slot in object.event_datetimeslot.all %}
            <li> {{ slot.date_time_from }} - {{ slot.date_time_to }}</li>
        {% endfor %}



    </div>

{% endblock %}

