{% extends 'homepage.html' %}
{% load crispy_forms_tags %}

{% block additional_links_scripts_top %}
    <!-- Leaf css :) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <!-- Leaf js -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
   <!-- Marker cluster -->
    <link rel="stylesheet" href="/static/css/MarkerCluster.css"/>
    <link rel="stylesheet" href="/static/css/MarkerCluster.Default.css"/>
    <script src="/static/js/leaflet.markercluster.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
            integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
            crossorigin=""></script>
    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
          integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
          crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
            integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
            crossorigin=""></script>
{% endblock %}

{% block mytitle %}<h1>Meeting: {{ event.title }}</h1>{% endblock %}

{% block event %}
    {% if event.owner == request.user %}
        <div class="float-right">
            {% if not chosen_slot %}
                <a type="button" class="btn btn-info myButton" href="{% url "edit_event" event.pk %}">Edit</a>
            {% endif %}
            <a type="button" class="btn btn-info myButton" href="{% url "delete_event" event.pk %}">Delete</a></br></br>
        </div>
    {% endif %}
    <table class="table table-striped table-sm">
        <tbody>
        <tr>
            <th scope="row">Status:</th>
            <td><b>
                {% if event.is_in_progress %}
                    In progress
                {% elif event %}
                    Upcoming
                {% elif event %}
                    Archived
                {% endif %}
            </b>
            </td>
        </tr>
        <tr>
            <th scope="row">Description:</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th scope="row">Organizer:</th>
            <td>{{ event.owner }}</td>
        </tr>
        <tr>
            <th scope="row">Participants ({{ event.participants.count }}):</th>
            <td></td>
        </tr>
        {% for participant in event.participants.all %}
            <tr>
                <th scope="row"></th>
                <td>{{ forloop.counter }}. {{ participant }}</td>
            </tr>
        {% endfor %}
        {% if not chosen_slot %}
            <tr>
                <th scope="row">Proposed time slots:</th>
                <td>
                    {% if event.owner != request.user %}
                        <a type="button" class="btn btn-info myButton" href="{% url "vote_for_timeslots" event.pk %}">Click
                            here to vote
                            for time slots</a>
                    {% elif event_votes.items %}
                        <a type="button" class="btn btn-info myButton" href="{% url "complete_event" event.pk %}">Choose
                            final time slot</a>
                    {% elif not event_votes.items %}
                        <a type="button" class="btn btn-info myButton" href="{% url "propose_timeslots" event.pk %}">Set
                            up time slots</a>
                    {% endif %}
                </td>
            </tr>
            {% for slot, slot_values in event_votes.items %}
                <tr>
                    <th scope="row">
                        {% if slot in winning %}
                            <span class="badge badge-dark badge-pill float-right">CURRENTLY WINNING</span>
                        {% endif %}
                    </th>
                    <td>{{ slot.date_time_from|date:'d.m.Y H:i (D)' }} - {{ slot.date_time_to|date:'d.m.Y H:i (D)' }}
                        <span class="badge badge-dark  vote-badge float-right">If need be: {{ slot_values.if_need_be }}</span>
                        <span class="badge badge-dark  vote-badge float-right">No: {{ slot_values.no }}</span>
                        <span class="badge badge-dark  vote-badge float-right">Yes: {{ slot_values.yes }} </span>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row">Date and time:</th>
                <td>{{ chosen_slot.date_time_from|date:'d.m.Y H:i (D)' }} -
                    {{ chosen_slot.date_time_to|date:'d.m.Y H:i (D)' }}</td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row">Location:</th>
            <td>{{ event.meeting_address }}</td>
        </tr>
        {% if event.location_comments %}
            <tr>
                <th scope="row">Additional info:</th>
                <td>{{ event.location_comments }}</td>
            </tr>
        {% endif %}
        {% if event.meeting_address %}
            <tr>
                <th scope="row">Map:</th>
                <td>
                    <div id="mapid"></div>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block additional_links_scripts_bottom %}
    {% include 'maps_display_location_tmp.html' %}
{% endblock %}
</div>