{% extends 'homepage.html' %}
{% load crispy_forms_tags %}


{% block mytitle %} <h1>Vote for time slots</h1> {% endblock %}

{% block event %}

    <table class="table table-striped table-sm">
      <tbody>
            <tr>
                <th class="table_header">Your decision</th>
                <th class="table_header">Timeslots</th>
                <th class="table_header">Choice</th>
            </tr>
        {% for timeslot, value in vote_list.items %}
            <tr>
                <th scope="row">
                    {% if value == 1 %}
                        NO
                    {% elif value == 2 %}
                        YES
                    {% elif value == 3 %}
                        IF NEED BE
                    {% elif value == -2 %}
                        <span class="badge badge-dark badge-pill">Vote!</span>
                    {% endif %}</th>
                <td>
                    {{ timeslot.date_time_from|date:'Y-m-d H:i D' }} - {{ timeslot.date_time_to|date:'Y-m-d H:i D' }}

                </td>
                <td>
                    <a type="button" class="btn btn-info myButton btn-sm"
                       href="{% url "vote" timeslot.pk "yes" %}">Yes</a>
                    <a type="button" class="btn btn-info myButton btn-sm"
                       href="{% url "vote" timeslot.pk "no" %}">No</a>
                    <a type="button" class="btn btn-info myButton btn-sm"
                       href="{% url "vote" timeslot.pk "ifneedbe" %}">If
                        need be</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div><a type="button" class="btn btn-info myButton" href="{% url "event_view" event.pk %}">Finish</a></div>



{% endblock %}

