/*NAVBAR TOP*/

.navbar {
    background-color: #883896 !important;
    border-radius: 0;
    font-size: larger;
    border: 0;
    margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
    color: #e4ddb5;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover {
    color: #ffffff;
}

#navbarDropdown {
    margin-left: 50px;
}

#navbarNavAltMarkup > ul > div > div > a:nth-child(1):active, #navbarNavAltMarkup > ul > div > div > a:nth-child(2):active {
    background-color: #883896;
}

.nav-item {
    text-align: right;
}

a.nav-item.nav-link {
    margin-right: 15px;

}

.nav_button {
    background-color: #008B84;
    color: #ffffff;
    margin: 4px;
}

#shall_we_meet_logo {
    color: #e4ddb5;
    font-weight: 900;
    font-size: x-large;
}

/* NAV LEFT */
#sidebar-wrapper > div > li, body > div > div.list-group.list-group-flush > li {
    background-color: #008B84;
    color: #fffcff;
}


#sidebar-wrapper > div > a, body > div > div.list-group.list-group-flush > a {
    background-color: #E2E8F7;
    color: #4F4350;
}

/*------------------------------------------*/
/*BADGE PILLS*/
.badge {
    background-color: #883896;
}

/*------------------------------------------*/
/*BODY*/

h1 {
    color: #006F69;
    font-size: x-large;
    padding: 10px 0 40px 0;
    margin: 0;
}

h2 {
    color: #4F4350;
    font-size: large;
}

body {
    background: #fffcff;
    font-family: 'Nunito Sans', sans-serif;
    color: #4F4350;
}

.container-fluid {
    padding: 0 40px 0 40px;
    text-align: center;
}

.myButton {
    background-color: #008B84;
    color: #ffffff;
}



#youSure {
    color: #a12291;
    font-size: large;
    font-weight: 700;
}

#myMeetings, #votingSlots {
    background-color: #E2E8F7;
    color: #4F4350;
}

#myMeetings:hover {
    background-color: #008B84;
    color: #ffffff;
}

tr {
    text-align: left;
}


.table_header {
    color: #883896;
    font-size: larger;
}

.vote-badge {
    background-color: #dcdcdc;
    color: #747474;
    font-size: 90%;
    margin: 2px;
}

#in-progress-badge {
    background-color: #747474;
}

.message-box {
    border: 2px hidden;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(150, 136, 56, 0.35);
    color: #222222;
    margin-bottom: 4%;
}
/*------------------------------------------*/
/* RADIO BUTTON  */

    /* The container */
.container {
  display: block;
  position: relative;
}

    /* Hide default browser radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

    /* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: rgba(0, 139, 132, 0.6);
  border-radius: 50%;

}

    /* On mouse-over, add  background color */
.container:hover input ~ .checkmark {
  background-color: rgba(136, 56, 150, 0.64);
}

    /*  add background when the radio button is checked */
.container input:checked ~ .checkmark {
  background-color: #a12291;
}

/* moving text further form buttn */
#paragraph{
    margin-left: 3%;
}
/*------------------------------------------*/
/* my maps */

#mapid { height: 300px; }
